<div *ngIf="dataLoaded">
    <mat-card>
    <form [formGroup]="editUserForm" (submit)="updateUser()">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Placeholder" formControlName="name">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Email Address</mat-label>
              <input matInput placeholder="Placeholder" formControlName="email">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label> Phone Number</mat-label>
              <input matInput placeholder="Placeholder" formControlName="phone">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
        
          <button mat-raised-button color="primary">Update</button>
    
    </form>
    </mat-card>
</div>

